p{
    
    font-family: robotoregular !important;
    
}

h1, h2, h3, h4, h5, h6{
   
    font-family: robotomedium !important;
    
    

}


.banner {
    background: url(../images/business-banner.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.banner_text_wthree_pvt {
    padding: 15vw 0;
}

.banner:before,
.inner-banner-w3ls:before {
    position: absolute;
    content: '';
    background: rgba(0, 0, 0, 0.24);
 width: 50%;
    height: 50%; 
    top: 0;
    left: 0;
    z-index: -1;
}

button.btn.bg-theme {
    letter-spacing: 1px;
}

.bg-theme {
    background: #00f2aa;
    color: #fff;
}

.bg-theme1 {
    background: #ffffff;
    color: #000;
}

.banner-bottom-w3ls {
    position: relative;
    left: 14%;
    width: 72%;
}

.bb-img h3 {
    text-transform: capitalize;
    font-size: 1.2em;
    text-align: center;
    margin: 1em 0 1.5em;
    color: #000;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
}


.wthree-link-bnr {
    padding: 8px 25px;
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 14px;
    background: #0083ff;
    border: 1.5px solid #ffffff;
    text-transform: uppercase;
}

.wthree-link-bnr:hover {
    color: #fff;
    opacity: .8;
}

button.btn.wthree-link-bnr:hover {
    background: #fff;
    color: #000;
}

p.bnr-txt {
    width: 100%;
    color: #fff;
    font-size: 1.7em;
    margin: 0.5em 0 1.2em;
    line-height: 2;
}

button.wthree-link-bnr:hover {
    background: #0083ff;
    color: #fff;
}

h3.home-banner-w3 {
    color: #fff;
    font-size: 2.5em;
    line-height: 1.4;
    text-transform: capitalize;
    width: 100%;
    font-weight: 700;
    /* word-spacing: 4px; */
}
.object5{
    margin: 20px;
    text-align: center;
 
 }
 .object5 h2{
     margin: 150px auto 20px auto;
     font-size: 50px;

     font-weight: 300;
 
 }
 .object5 p{
     font-size: 20px;
     line-height: 40px;
 }
 .object5 img{
     padding: 30px;
 }
 .reviews{
     /* background-color:#0083ff; */
     background-color: #6EC5E9 !important;
     opacity: 40px;
     text-align: center;
     padding: 10px;
 }
 .reviews p{
    font-size: 20px;
    line-height: 22px;
    padding: 0;
    text-align: justify;
    color: #fff;
    text-align: left;
    margin: 3px 0 15px;
 }
 .reviews h2 {
    font-weight: 400;
    color: #fff;
    font-size: 40px;
    font-weight: inherit;
    border-bottom: 1px solid #dd6e02;
    padding: 0 0 12px;
    display: inline-block;
    line-height: 1.2;
    margin-bottom: 15px;
    text-transform: capitalize;
    font-weight: 500;
}
.reviews .border-left {
    width: 400px;
    border-left: 5px solid #dd6e02!important;
    margin-bottom: 10px;
}


.inner_service, .text-head { 
    margin: 30px; 
    font-size: 35px; 
    padding: 0px 0px 5px; 

}
.img-thumbnail{
    width: 300px;
}

.business_need{
    font-weight: 100px;
    font-size: 30px;
}

.bnr-txt{
    color: whitesmoke !important; 
    text-transform: uppercase;
}
/* inner banner */

.inner-banner-w3ls {
    background: url(../images/inner-banner.jpg);
    background-size: cover;
    min-height: 300px;
    position: relative;
    z-index: 0;
}

li.breadcrumb-item a {
    color: #000;
}

.breadcrumb-item.active {
    color: #000000;
    text-transform: capitalize;
    font-weight: 600;
}
.w3l-index-block4 img{
    width: 300px;
}


.wthree_pvt_title {
    margin-bottom: 5em;
}

h4.w3pvt-title {
    color: #0083ff;
    text-transform: capitalize;
    font-size: 2.3em;
    font-weight: 600;
    text-shadow: 1px 1px 1px #969696;
}

p.sub-title {
    color: #333;
    font-weight: 600;
    text-transform: capitalize;
    width: 60%;
    margin: 1em auto 0;
}

span.sub-title {
    text-transform: capitalize;
    font-size: 1em;
    color: #333;
}

