/* .banner {
    background: url(/images/stat\ banner.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    position: relative;
    z-index: -1;
} */


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


p{
    
    font-family: robotoregular !important;
    font-size: 15px !important;
    
}

h1, h2, h3, h4, h5, h6{
  
    font-family: robotomedium !important; 

}


.banner_text_wthree_pvt {
    padding: 10vw 0 5vw;
}

.banner:before,
.inner-banner-w3ls:before {
    position: absolute;
    content: '';
    background: rgba(0, 0, 0, 0.24);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

button.btn.bg-theme {
    letter-spacing: 1px;
}

.bg-theme {
    background: #00f2aa;
    color: #fff;
}

.bg-theme1 {
    background: #ffffff;
    color: #000;
}

.banner-bottom-w3ls {
    position: relative;
    bottom: 20px;
    left: 14%;
    width: 72%;
    margin-top: 20px;
    grid-template-columns: 100px auto 100px;
    column-gap: 50px;
}
.img-thumbnail{
    width: 300px;
}

.bb-img h3 {
    text-transform: capitalize;
    font-size: 1.2em;
    text-align: center;
    margin: 1em 0 1.5em;
    color:red;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
}
.object{
   margin: 20px;
   text-align: center;
  

}
.object h2{
    margin: 20px auto;
    font-size: 24px !important;
    font-family: robotomedium !important;
    font-weight: 300;
    color: aliceblue;
    background: green;
    border: 2px solid blue;
    width: 400px;
    /* display: inline-block; */

}

.object h2:hover{
    color: rgb(238, 133, 15);
}
.object p{
    font-size: 20px;
    line-height: 40px;
}
.object img{
    padding: 30px;
    width: 500px;
}

.md{
    width: 600px;
}
.wthree-link-bnr {
    padding: 8px 25px;
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 14px;
    background: #0083ff;
    border: 1.5px solid #ffffff;
    text-transform: uppercase;
}

.wthree-link-bnr:hover {
    color: #fff;
    opacity: .8;
}

button.btn.wthree-link-bnr:hover {
    background: #fff;
    color: #000;
}

h4.bnr-txt {
    width: 100%;
    color: #fff;
    font-size: 1.7em;
    margin: 0.5em 0 1.2em;
    line-height: 2;
}

button.wthree-link-bnr:hover {
    background: #0083ff;
    color: #fff;
}

h3.home-banner-w3 {
    color: #fff;
    font-size: 2.5em;
    line-height: 1.4;
    text-transform: capitalize;
    width: 100%;
    font-weight: 700;
    /* word-spacing: 4px; */
}
.last{
    text-align: center;
    text-align: center;
    margin: auto 30px;
    column-gap: 20px;

}
.last h4{
  margin: 20px auto;
  font-weight: 600;
}
.last p{
    font-weight: 300;
    margin: 0 20px;
}

/* inner banner */

.inner-banner-w3ls {
    background: url(../images/inner-banner.jpg) no-repeat center;
    background-size: cover;
    min-height: 300px;
    position: relative;
    z-index: 0;
}

li.breadcrumb-item a {
    color: #000;
}

.breadcrumb-item.active {
    color: #000000;
    text-transform: capitalize;
    font-weight: 600;
}

/* //inner banner */

/* title */

.wthree_pvt_title {
    margin-bottom: 5em;
}

h4.w3pvt-title {
    color: #0083ff;
    text-transform: capitalize;
    font-size: 2.3em;
    font-weight: 600;
    text-shadow: 1px 1px 1px #969696;
}

p.sub-title {
    color: #333;
    font-weight: 600;
    text-transform: capitalize;
    width: 60%;
    margin: 1em auto 0;
}

span.sub-title {
    text-transform: capitalize;
    font-size: 1em;
    color: #333;
}

.last h4{
    text-transform: uppercase;
    font-weight: 900;
    color: rgb(238, 133, 15);
    
}



@media all and (max-width: 786px){
     body{
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
    }
    .object img{
        width: 600px;
    }
}
@media all and (max-width: 640px){
    .object img{
        width: 400px;
    }
}

@media all and (max-width: 425px){
    body{
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
    }
    .object h2{
        font-size: 35px;
        width: 300px;
    }
    .object img{
        width: 300px;

    }
    .mg-fluid{
        width: 300px;
    }
    
}

@media all and (max-width: 320px){
    body{
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
    }
    .home_form{
        width: 300px;
        height: 500px;
    }
    .home-email{
        width: 270px;
    }
    .home-text{
        width: 270px;
    }
    .home-drop{
        width: 270px;
    }
    .home-dead{
        width: 270px;
    }
    
}

.features h2 {
    text-transform: uppercase;
    font-weight: 300;
    padding: 20px;
    font-size: 24px !important;
    font-family: robotomedium !important;
    text-align: center;  
    margin: 30px auto;
    width: 500px;
    background-color: #0083ff;
    border: 2px solid orange;
    color: white;
}
@media all and (max-width:425px){
    .features h2{
        width: 300px;
    }
}

.features p{
        text-align: center;
        font-family: inherit;
        font-weight: 400;
        line-height: 1.45;
        margin-bottom: 17px;
        font-size: 15px !important;

    
}
